.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
}

.wrapper {
  border-radius: 10px;
  background-image: url("https://global.discourse-cdn.com/standard11/uploads/universaldashboard/original/2X/7/70c99ecf02b2aed589af327cbddb271c2feec1b3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.card {
  margin-top: 10px;
  margin-bottom: 40px;
  border-radius: 7px;
  padding: 30px;
  box-shadow: 0 4px 8px rgb(0, 21, 255);
  width: 100%;
  display: flex;
  justify-content: center;
}

.button__list,
.input__list {
  padding: 15px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
  color: white;
  background: linear-gradient(90deg, #5f9aff, #d71d1d);
  margin-bottom: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  gap: 180px;
  margin-left: 40px;
}

.button__list:hover,
.input__list:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.input__list1 {
  padding: 15px 30px;
  border-radius: 5px;
  width: 500px;
  background: linear-gradient(90deg, #5f9aff, #d71d1d);
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-left: 320px;
}

.input__list1:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.primary {
  width: 200px;
  height: 40px;
  text-align: center;
  color: white;
  border-radius: 7px;
  background: linear-gradient(90deg, #5f9aff, #51ff00);
  cursor: pointer;
}
