.btn {
  padding: 10px 24px;
  border: none;
  background-color: transparent;
  color: #ffff;
  display: flex;
  align-items: center;
  gap: 12px;
}

.primary {
  background-color: rgb(247, 37, 0);
}

.secondary {
  background-color: rgb(83, 249, 0);
}

.danger {
  background-color: rgb(230, 72, 64);
}

.success {
  background-color: rgb(255, 0, 230);
}